<button type="button" class="btn btn-tool" data-toggle="modal" data-target="#loadFilterModal">
    <i class="fa fa-filter"></i>
    Load Filter
</button>

<button type="button" class="btn btn-tool" onclick="TableFiltersManager.showSaveFilterModal()">
    <i class="fa fa-save"></i>
    Save Filter
</button>